img {
    width: 250px;
    border-radius: 15px;
    margin: 20px;
}

img:hover {
    box-shadow: 0px 0px 20px #00f;
}

#pic2 {
    transform: rotate(15deg)
}
#pic3 {
    transform: scale(1.5) translateX(50px)
}